{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Catalogo</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'catalogo.css' %}">
{% endblock %}

{% block contenido %}
<button type="button" onclick="window.history.back();">Atrás</button>
<h1>Catálogo de hoteles</h1>
<h2>Filtrar hoteles</h2>
<form method="POST">
    {% csrf_token %}
    <label for="pais">País:</label>
    <select id="pais" name="pais">
        <option value="">Todos</option>
        {% for pais in paises %}
        <option value="{{ pais.countrycode }}">{{ pais.countryname }}</option>
        {% endfor %}
    </select>

    <label for="ciudad">Ciudad:</label>
    <select id="ciudad" name="ciudad">
        <option value="">Todas</option>
        {% for ciudad in ciudades %}
        <option value="{{ ciudad.citycode }}">{{ ciudad.cityname }}</option>
        {% endfor %}
    </select>

    <label for="rating">Puntuación:</label>
    <select id="rating" name="rating">
        <option value="">Todas</option>
        {% for rating in ratings %}
        <option value="{{ rating }}">{{ rating }}</option>
        {% endfor %}
    </select>

    <button type="submit" value="Buscar">Buscar</button>
</form>

<section class="contenido">
    <div class="mostrador" id="mostrador">
        <div class="fila">
            {% for hotel in hoteles %}
            <a href="{% url 'detalleshotel' hotel.idhotel %}" class="item">
                <div class="contenedor">
                    <img src="{% static 'img/hotel-icon-1.jpg' %}" alt="">
                    <p class="descripcion">{{ hotel.hotelname|safe }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="fila">
            {% for hotel in hotelesfila2 %}
            <a href="{% url 'detalleshotel' hotel.idhotel %}" class="item">
                <div class="contenedor">
                    <img src="{% static 'img/hotel-icon-1.jpg' %}" alt="">
                    <p class="descripcion">{{ hotel.hotelname|safe }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="fila">
            {% for hotel in hotelesfila3 %}
            <a href="{% url 'detalleshotel' hotel.idhotel %}" class="item">
                <div class="contenedor">
                    <img src="{% static 'img/hotel-icon-1.jpg' %}" alt="">
                    <p class="descripcion">{{ hotel.hotelname|safe }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}