{% extends "base.html" %}


{% block head %} 
    <html lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'stylecuenta.css' %}">
    <title>Document</title>
{% endblock %}

{% block contenido %}
<button type="button" onclick="window.history.back();">Atrás</button>

<div class="container">
    <h1>Información del Hotel</h1>
    <table>
        <tr>
            <th>Campo</th>
            <th>Información</th>
        </tr>
        <tr>
            <td>Id Hotel:</td>
            <td>{{hotel.idhotel}}</td>
        </tr>
        <tr>
            <td>Codigo:</td>
            <td>{{hotel.hotelcode}}</td>
        </tr>
        <tr>
            <td>Rating:</td>
            <td>{{hotel.hotelrating}}</td>
        </tr>
        <tr>
            <td>Direccion:</td>
            <td>{{hotel.address}}</td>
        </tr>
        <tr>
            <td>Atraciones:</td>
            <td>{{hotel.attractions|safe}}</td>
        </tr>
        <tr>
            <td>Caracteristicas:</td>
            <td>{{ hotel.hotelfacilities|safe }}</td>
        </tr>
        <tr>
            <td>Teléfono:</td>
            <td>{{hotel.faxnumber}}</td>
        </tr>
        <tr>
            <td>Sitio Web:</td>
            <td>{{hotel.hotelwebsiteurl}}</td>
        </tr>
    </table>
    
</div>
{% endblock %}