<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Escribir reseña</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <style>
        h1, h2, button {
            color: #ffffff; 
            background-color: #007bff; 
            padding: 10px;
            border-radius: 5px;
        }
        button:hover {
            background-color: #0056b3; 
            cursor: pointer;
        }
    </style>
    {% endblock %}
    
</head>
<body>
    {% block contenido %}
    <h1>Escribir reseña</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form_reseña.as_p }}
        <button type="submit">Escribir reseña</button>
    </form>

    <h2>Reseñas Agregadas</h2>
    <ul>
        {% for reseña in reseña %}
            <li>
                {{ reseña }}
            </li>
        {% empty %}
            <li>No hay reseñas agregadas aún.</li>
        {% endfor %}
    </ul>    
    <button type="button" onclick="window.history.back();">Atrás</button>
    {% endblock %}
    
</body>
</html>