<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App_hotel</title>
</head>
<body>
    <h1>Bienvenido a la pagina de inicio de nuestra nueva app</h1>
    <div>
        <a href="registrar/">Registrarse</a>
        <a href="login/">Iniciar sesion</a>
    </div>
    <div>
        Numero de usuario: {{no_usuarios}}
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Telfono</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.idusuario}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.telefono}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>