{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styleRegi.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&family=Trocchi&display=swap" rel="stylesheet">
{% endblock %}

{% block main_classes %}
    d-flex justify-content-center align-items-center min-vh-100
{% endblock %}

{% block contenido %} 
<form class="text-center" method="post">
    <div class="form">
        {% csrf_token %}
        <h1>Iniciar sesión</h1>
        <div class="grupo">
            <input type="text" id="username" name="username" required><span class="barra"></span>
            <label for="username">Nombre de usuario:</label>
        </div>
        <div class="grupo">
            <input type="password" id="password" name="password" required><span class="barra"></span>
            <label for="password">Contraseña:</label>
        </div>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <button type="submit" value="Iniciar sesión">Log in</button>
    </div>
</form>

{% endblock %}